.title .divCard{background-color:#666;}
.form .divCard{margin-bottom:8px;}
.form .submitBtn{width:100%;}

.joinMsg p{font-size: }

.shortCut p i{margin-right:8px; color:#4c4c4c;}
.shortCut .menu{margin-bottom:8px;}
