body{color:#252626; font-size:0;}
a{color:#252626;}
a:link {color:#252626;}
a:visited {color:#252626;}
a:active {color:#252626;}
.wrap{width:100%; height:100%; font-size:0;}
.division_line{margin:24px 0px; border:1px solid #eee;}
.cursor{cursor:pointer;}
/*********************************************************************************************************************
    COLOR
*********************************************************************************************************************/
.color_black{color:#262525;}
.color_gray{color:#999;}
.color_white{color:#fff;}

.bg_black{background-color:#262525;}
.bg_gray{background-color:#999;}
.bg_white{background-color:#fff;}
/*********************************************************************************************************************
    OFFSET
*********************************************************************************************************************/
.width_33_per{width:33.33%;}
.width_50_per{width:50%;}
.width_100_per{width:100%;}
.pad_8px{padding:8px;}
.pad_16px{padding:16px;}

/*********************************************************************************************************************
    TYPOGRAPHY
*********************************************************************************************************************/

.typo.title.large{font-size:46px; font-weight:400;}
.typo.title.base{font-size:32px; font-weight:400;}
.typo.title.small{font-size:28px; font-weight:400;}
.typo.normal.large{font-size:20px; font-weight:400;}
.typo.normal.base{font-size:16px; font-weight:400;}
.typo.normal.small{font-size:12px; font-weight:400;}
.typo.normal.tiny{font-size:10px; font-weight:400;}
.center{text-align:center;}
/*********************************************************************************************************************
    BUTTON
*********************************************************************************************************************/
.btn{font-size:16px; border:1px solid #252626; background-color:#fff; padding:8px 16px 6px 16px; cursor:pointer; box-shadow:5px 10px 10px rgba(0,0,0,.05); border-radius:2px;}
.btn.red{background:#f2405d; border:1px solid #f2405d; color:#fff; box-shadow:5px 10px 10px rgba(0,0,0,.05);}
.btn.blue{background:#5f93e7; border:1px solid #5f93e7; color:#fff; box-shadow:5px 10px 10px rgba(0,0,0,.05);}
.btn.green{background:#43da86; border:1px solid #43da86; color:#fff; box-shadow:5px 10px 10px rgba(0,0,0,.05);}
.btn.yellow{background:#ffb721; border:1px solid #ffb721; color:#fff; box-shadow:5px 10px 10px rgba(0,0,0,.05);}
.btn.base{width:100px;}
.btn.large{width:200px; padding:12px 0px 10px 0px;}
.btn.full{width:100%; padding:12px 0px 10px 0px;}

/*********************************************************************************************************************
    FORM INPUT
*********************************************************************************************************************/
.form .divCard{padding:8px;}
input{font-size:12px; padding:12px; border:1px solid #ccc; border-radius:4px; margin-bottom:4px;}
.form input[type='text'], .form input[type='id'], .form input[type='password'], .form input[type='email']{width:100%;}
.form .TEL1{width:30%; height:40px; margin-bottom:4px; border-radius:4px 0px 0px 4px; border:1px solid #ccc; font-size:12px; padding-left:16px; background-color:#fff;}
.form .TEL2, .form .TEL3{width:35%; text-align:center;}
.form .TEL2{border-radius:0px; border-right:0; border-left:0;}
.form .TEL3{border-radius:0px 4px 4px 0px;}
.form .inputTitle{padding:4px}
.form .inputTitle .desc{color:#f2405d; font-size:10px;}
.form .divCheckBox{padding:10px 8px 6px 8px; border:1px solid #ccc; border-radius:4px; margin-bottom:4px;}
.form .divCheckBox input[type="checkbox"]{width:16px; height:16px; margin-right:4px; margin-bottom:6px;}
.form .divCheckBox label{font-size:12px; line-height:16px;}
.form input[type="email"].EMAIL1{width:45%; border-radius:4px 0px 0px 4px;}
.form .emailMark{width:11%; border-radius:0; background-color:#fff; border-right:0; border-left:0;}
.form input[type="email"].EMAIL2{width:44%; border-radius:0px 4px 4px 0px;}
.form select.EMAIL3{width:100%; height:40px; margin-bottom:4px; border-radius:4px; border:1px solid #ccc; font-size:12px; padding-left:16px; background-color:#fff;}
.form .divRadioBtn{padding:10px 8px 6px 8px; border:1px solid #ccc; border-radius:4px; margin-bottom:4px;}
.form .divRadioBtn label{font-size:12px; line-height:16px; margin-right:16px;}
.form .divRadioBtn input[type="radio"]{width:16px; height:16px; margin-right:4px; margin-bottom:6px;}
.form .division{margin-bottom:16px;}
/*********************************************************************************************************************
    콘텐츠 컨테이너
*********************************************************************************************************************/




/*********************************************************************************************************************
    스타일 시트 페이지 CSS
*********************************************************************************************************************/
.divComponentTitle{font-size:32px; margin-bottom:16px;}
.divComponentSubTitle{font-size:16px; margin-bottom:16px; margin-left:16px;}
.component{width:100%; padding:16px; border:1px solid #ddd; background:#fff; margin-bottom:32px;}
.component .btn{margin-bottom:12px;}
.component.button table td{width:20%; text-align:center;}
.component.button table .head td{color:#179ccd; font-size:20px; padding:16px 0px;}
.component .typo{margin-bottom:16px;}
.component .typo_head{display:inline-block; color:#179ccd; margin-right:16px; font-size:20px; font-weight:400; min-width:200px; line-height:50px;}

/*********************************************************************************************************************
    모바일 CSS
*********************************************************************************************************************/
@media screen and (max-width:1024px){
  .pc{display:none;}
  .contents_container{width:100%; min-height:100vh; background-color:#f5f5f5;}
  .contents_container .contents_section{width:100%; min-height:100vh; margin:auto;}

  /*모바일 탑 헤더*/
  .divFixedTopHeader{position:fixed; width:100%; background-color:#fff; box-shadow:5px 10px 10px rgba(0,0,0,0.05); z-index:50; top:0;}
  .divFixedTopHeaderBG{width:100%; height:48px}
  .divFixedTopHeader td{padding:11px;}
  .divFixedTopHeader .divHamburgerBtn{width:50px;}
  .divFixedTopHeader .divHamburgerBtn .bar{width:100%; background-color:#666; padding:3px; margin-bottom:4px; border-radius:2px;}
  .divFixedTopHeader .divHamburgerBtn .bar:last-of-type{margin-bottom:0px;}
  .divFixedTopHeader .divHamburgerBtn .bar.bar1{width:85%;}
  .divFixedTopHeader .divHamburgerBtn .bar.bar2{width:65%;}
  .divFixedTopHeader .divHamburgerBtn .bar.bar3{width:100%;}
  .divFixedTopHeader .divLogoBtn{}
  .divFixedTopHeader .divEmpty{width:50px;}

  /*모바일 슬라이드 메뉴*/
  .divSlideMenu{width:300px; height:100vh; position:fixed; top:0; z-index:60; background-color:#fff; box-shadow:10px 10px 10px rgba(0,0,0,0.05); left:-310px;}
  .divSlideMenuBG{width:100vw; height:100vh; background-color:rgba(0,0,0,0.0); position:fixed; top:0; z-index:55; display:none;}
  .divSlideMenu .closeBtn{width:50px; padding:18px;}
  .divSlideMenu .closeBtn img{width:100%;}
  .divSlideMenu .divSlideMenuList{width:100%; margin:auto;}
  .divSlideMenu .divSlideMenuList td{font-size:16px; text-align:center; border:1px solid #eee;}
  .divSlideMenu .divSlideMenuList td a{color:#262525; display:inline-block; padding:16px; width:100%;}

  .divCardList{padding:8px; padding-bottom:0;}
  .divCardList:last-of-type{padding-bottom:8px;}
  .divCard{width:100%; margin:auto; margin-bottom:12px; background-color:#fff; box-shadow:10px 10px 10px rgba(0,0,0,0.05); border-radius:4px;}
  .divCard:last-of-type{margin-bottom:0px;}

}

/*********************************************************************************************************************
    데스크톱 CSS
*********************************************************************************************************************/
@media all and (min-width: 1025px) {
  .m{display:none;}
  .contents_container{width:100vw; min-height:100vh; background-color:#f5f5f5; padding:80px; position:relative; top:-14px;}
  .contents_container .contents_section{width:1200px; margin:auto;}

}
